### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Kursy-Ami-Anher indes.html
RewriteRule O-nas O nas.html
RewriteRule oferta-kursy-zawodowe-otwarte-inne oferta.html
RewriteRule Wideo-Szkoleniowe-AmiAnher- Wideo.html
RewriteRule kontakt-Szkolenia-Ami-Anher kontakt.html