body
{
	
	background-color: black ;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	
	width: 100%;
	
}


#container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	text-decoration:none;
	
}




.tile1

{
	
	width: 10%;
	height:1000px;
	margin: 20px;
	text-align: center;
	background-color:	#808080;
float:left;
	text-decoration:none;
	}

	
	
	
	
	
.tile2

{
	text-decoration:none;
	width: 70%;
	height:1000px;
	margin: 20px;
	text-align: center;
	background-color:	black;
float:left;
	
	}

	
	.tile3

{
	text-decoration:none;
	width: 10%;
	height:1000px;
	margin: 20px;
	text-align: center;
	background-color:	#808080;
float:left;
	}